<h1><%= @cocktail.name %></h1>
<%= link_to "Back to all cocktails", root_path %>

<h3>Recipe</h3>
<table class="table table-bordered">
  <tbody>
    <% @cocktail.doses.each do |dose| %>
    <tr>
      <td>dose.ingredient.name</td>
      <td>dose.description</td>
      <td>
        <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do%>
          <i class="fa fa-trash destroy_dose"></i>
        <% end %>
      </td>
    <% end %>
    </tr>
  </tbody>
</table>

<%= render "doses/new", cocktail: @cocktail, dose: @dose %>

<h3>Reviews</h3>
<% if @cocktail.reviews.empty? %>
  <p>Be the first to write a review</p>
<% else %>
  <ul class="list-group">
    <% @cocktail.reviews.each do |review| %>
      <li>
        <span>
          <% counter = 0 %>
          <% 5.times do %>
            <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
            <% counter +=1 %>
          <% end %>
        </span>
        <%= review.content %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render "reviews/new", cocktail: @cocktail, review: @review %>
